.individualItemImage{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 2%;
  }
  
  #priceOnImage{
    border: 1px solid black;
    height: 15px;
    width: 15px;
  }
  