h3{
    font-size: 3vw;
}

form{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 45px;
}

.submitbtn {
    width: 6vw;
}

input{
    width: 50%;
    height: 3vh;
}

.submitbtn{
    text-align: center;
    background: white;
    color: rgb(37, 52, 123);
    font-family: 'Montserrat';
    border-radius: 60px;
    padding: 5px 20px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);

  }